// Set explicit work directory
workDir = '/gpfs/data/mostafavilab/rishav.e.s.dasgupta/feature_analysis/work_nextflow'

process {
    executor = 'slurm'
    queue = 'reservation'
    clusterOptions = '--reservation=mostafavilab2_Reservation'
    
    maxForks = 100
    errorStrategy = 'retry'
    maxRetries = 2
    maxErrors = 10
    
    withName: 'extract_feature' {
        cpus = 1
        memory = '16 GB'
        time = '1h'
        clusterOptions = '--job-name=extract_feature --reservation=mostafavilab2_Reservation'
    }
    
    withName: 'create_annotation_direct' {
        cpus = 1
        memory = '8 GB'
        time = '1h'
        clusterOptions = '--job-name=create_annot --reservation=mostafavilab2_Reservation'
    }
    
    withName: 'compute_ldsc' {
        cpus = 1
        memory = '16 GB'
        time = '4h'
        clusterOptions = '--job-name=ldsc_calc --reservation=mostafavilab2_Reservation'
    }
    
    withName: 'compute_heritability' {
        cpus = 1
        memory = '8 GB'
        time = '2h'
        clusterOptions = '--job-name=heritability --reservation=mostafavilab2_Reservation'
    }
    
    withName: 'convert_bim_to_bed' {
        cpus = 1
        memory = '8 GB'
        time = '1h'
        clusterOptions = '--job-name=convert_bim --reservation=mostafavilab2_Reservation'
    }
    
    withName: 'multiply_annotations' {
        cpus = 1
        memory = '8 GB'
        time = '1h'
        clusterOptions = '--job-name=multiply_annot --reservation=mostafavilab2_Reservation'
    }
    
    withName: 'compute_ldsc_combined' {
        cpus = 1
        memory = '16 GB'
        time = '4h'
        clusterOptions = '--job-name=ldsc_combined --reservation=mostafavilab2_Reservation'
    }
}

executor {
    queueSize = 200
    submitRateLimit = '30/1min'
    pollInterval = '30 sec'
}

// Allow overwrite of existing files
dag {
    enabled = true
    overwrite = true
}

report {
    enabled = true
    overwrite = true
}

timeline {
    enabled = true
    overwrite = true
}

trace {
    enabled = true
    overwrite = true
}
